input {
    border: none;
    background-color: rgb(233, 181, 85);
    width: 250px;
    height: 35px;
    border-radius: 10px;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    outline: none;
    text-align: center;
    
}

.text-style {
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.button-style {
    width: 120px;
    height: 20px;
    border: black;
    background-color: rgb(61, 197, 102);
    border-radius: 10px;
    outline: none;
    color: rgb(58, 51, 42);
    cursor: pointer;
    

}

.button-style:hover {
    color: #fff;
    background: #333;
}
a {
	color: rgb(5, 114, 109);
    text-decoration: none;
}
 a:hover {
    color: #fff;
    background: #333;

 }
