body {
    background-image: url(../img/background.jpg);
}

.text-color {
   color: lightseagreen;
}

.div-orientation { 
    margin-top: 1%;
    text-align: center;
}

footer {
    color: aquamarine;
    text-align: center;
}

h1 {
    color: mediumaquamarine;
    text-align: center;
}

h3 {
    color: lightgreen;
}
.loginform-orientation {
    text-align: center;
    margin-top: 7em;
}

.div-border {
	border: 2px solid none;
	background-color: rgb(59, 56, 99);
	width: 300px;
	margin: auto;
	border-radius: 20px;
}
